<template>
   <section class="s-container">

         <!-- Dynamic Header -->
         <div class="flex justify-end">
            <div @click="btnUserProfile()" class="btn-active-icon duration-300 bg-prussian-blue text-gray-100 flex justify-end items-end p-3 rounded-xl">
               <i class="fa fa-user"></i>
            </div>
         </div>
   
      <div class="show-slide mt-10 text-2xl text-prussian-blue">
         <p>Selamat datang di <strong>Toko Rizky app</strong> ,</p>
         <p>{{ fullname }}</p>
      </div>
   </section>
</template>

<style>

   @import "../style/components/header-home.css"
   
</style>

<script setup>
   
   import { useRouter } from 'vue-router'
   
   //The props
   defineProps({
      fullname: {
         type: String,
         default: 'Username'
      }
   })
   
   //Event handler for button profile
   const router = useRouter()
   const btnUserProfile = () => {
      setTimeout(() => {
         router.push({ name: 'profile' })
      }, 350)
   }
   
</script>