<template>
   <aside>
      <div class="sidebar-content fixed-top">
      <div class="flex min-h-screen">
                     <div class="w-48 bg-gray-50 border-r border-gray-200" :class="show ? 'right-0' : '-right-full'">
                     <div class="py-4 px-6">
                        <a href="/">
                           <div class="flex items-center">
                           <img class="" src="/icons/icon-144x144.png" alt="logo-stock" width="40"/>
                           <strong class="logo-text text-prussian-blue ml-2 text-xl font-bold">RIZKY</strong>
                        </div>
                        </a>
                     </div>
                     <div class="overflow-y-auto flex-1">
                     <ul class="pt-8 pb-4 px-6">
                     <li>
                        <div @click="btnNewProduc()" class="btn-active-icon flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6"><path d="M12.378 1.602a.75.75 0 00-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03zM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 00.372-.648V7.93zM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 00.372.648l8.628 5.033z" /></svg>
                           <span class="ml-3">Produk</span>
                        </div>
                     </li>
                     <li>
                        <div @click="btnManageCategory()" class="btn-active-icon flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6"><path fill-rule="evenodd" d="M3 6a3 3 0 013-3h2.25a3 3 0 013 3v2.25a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm9.75 0a3 3 0 013-3H18a3 3 0 013 3v2.25a3 3 0 01-3 3h-2.25a3 3 0 01-3-3V6zM3 15.75a3 3 0 013-3h2.25a3 3 0 013 3V18a3 3 0 01-3 3H6a3 3 0 01-3-3v-2.25zm9.75 0a3 3 0 013-3H18a3 3 0 013 3V18a3 3 0 01-3 3h-2.25a3 3 0 01-3-3v-2.25z" clip-rule="evenodd" /></svg>
                           <span class="ml-3">Kategori</span>
                        </div>
                     </li>
                     <li>
                        <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6"><path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" /></svg>
                           <span class="ml-3">Transaksi</span>
                        </a>
                     </li>
                  </ul>
               </div>
                  </div>
               

               </div>
      </div>
   </aside>
</template>

<style scoped>
   
   @import "../style/components/menu.css"
   
</style>

<script setup>
   
   import { useRouter } from 'vue-router'
  
   const router = useRouter()

   

   //Handler for new item menu
   const btnNewProduc = () => {
      setTimeout(() => {
         router.push({ name: 'new' })
      }, 500)
   }
   
   //Handler for manage category menu
   const btnManageCategory = () => {
      setTimeout(() => {
         router.push({ name: 'category' })
      }, 500)
   }


</script>
